<h1>Bourne Again Shell ++</h1>

<p>Authors:</p>

<ul>
<li>Juan Hernandez <a href="&#109;&#97;&#x69;&#x6C;&#x74;&#111;:&#74;&#117;&#x61;&#x6E;&#72;&#x65;r&#110;&#97;&#x6E;&#100;&#x65;&#x7A;&#49;&#x32;&#64;&#109;y&#x2E;&#117;n&#116;&#46;&#x65;&#x64;&#117;">&#74;&#117;&#x61;&#x6E;&#72;&#x65;r&#110;&#97;&#x6E;&#100;&#x65;&#x7A;&#49;&#x32;&#64;&#109;y&#x2E;&#117;n&#116;&#46;&#x65;&#x64;&#117;</a></li>
<li>Erika Gutierrez <a href="&#109;&#x61;&#x69;&#x6C;&#116;&#x6F;:&#x45;&#114;&#x69;&#107;&#x61;&#67;&#114;&#x69;&#x73;&#116;&#105;&#110;a&#x47;&#x75;&#x74;&#105;&#x65;&#114;&#114;&#x65;&#122;&#x50;o&#x72;&#116;&#105;&#x6C;&#108;&#111;&#64;&#x6D;&#121;&#x2E;&#x75;&#x6E;&#x74;&#x2E;&#101;&#x64;&#117;">&#x45;&#114;&#x69;&#107;&#x61;&#67;&#114;&#x69;&#x73;&#116;&#105;&#110;a&#x47;&#x75;&#x74;&#105;&#x65;&#114;&#114;&#x65;&#122;&#x50;o&#x72;&#116;&#105;&#x6C;&#108;&#111;&#64;&#x6D;&#121;&#x2E;&#x75;&#x6E;&#x74;&#x2E;&#101;&#x64;&#117;</a></li>
<li>Noel Behailu <a href="&#x6D;&#97;&#x69;&#108;&#116;&#x6F;:&#78;&#x6F;&#101;l&#66;&#x65;&#x68;&#x61;&#x69;&#108;&#117;&#64;m&#121;&#46;&#117;n&#116;&#x2E;&#101;&#100;&#x75;">&#78;&#x6F;&#101;l&#66;&#x65;&#x68;&#x61;&#x69;&#108;&#117;&#64;m&#121;&#46;&#117;n&#116;&#x2E;&#101;&#100;&#x75;</a></li>
<li>Ryan Porterfield <a href="&#x6D;&#x61;&#x69;&#108;&#116;&#111;:&#82;&#x79;&#x61;&#110;&#80;o&#x72;&#x74;&#101;&#x72;&#102;&#105;&#x65;&#108;&#x64;&#64;&#x6D;&#x79;&#46;&#117;&#x6E;&#116;&#x2E;&#101;du">&#82;&#x79;&#x61;&#110;&#80;o&#x72;&#x74;&#101;&#x72;&#102;&#105;&#x65;&#108;&#x64;&#64;&#x6D;&#x79;&#46;&#117;&#x6E;&#116;&#x2E;&#101;du</a></li>
</ul>

<p>Date:       2014-09-25 <br />
Version:    0.0.1  </p>

<h2>About</h2>

<p>Bourne Again SHell ++ (bash++) is a homework assignment for CSCE 3600. <br />
It aims to be a simple wrapper around bash that adds a few usablilty <br />
features and syntax modifications. The major differences are:  </p>

<ol>
<li>Whitespace around equals '=' signs. bash++ allows value assignment <br />
of variables with the syntax <code>var = val</code> as well as the traditional <br />
<code>var=val</code></li>
<li><code>then</code> on the same line as <code>if</code> without the need for a semicolon <code>;</code></li>
<li><p>A simpler syntax for sentinel controlled for loops. Instead of <br />
needing to say</p>

<pre><code>for i in {0..$var}; do
    ...
done
</code></pre>

<p>you can use the syntax</p>

<pre><code>repeat $var times
{
    ...
}
</code></pre></li>
</ol>

<h2>LICENSE</h2>

<p>Copyright (c) 2014, CSCE 3600 Group 21
All rights reserved.  </p>

<p>Redistribution and use in source and binary forms, with or without <br />
modification, are permitted provided that the following conditions <br />
are met:  </p>

<ol>
<li>Redistributions of source code must retain the above copyright <br />
notice, this list of conditions and the following disclaimer.  </li>
<li>Redistributions in binary form must reproduce the above copyright <br />
notice, this list of conditions and the following disclaimer in the <br />
documentation and/or other materials provided with the distribution.  </li>
<li>Neither the name of the copyright holder nor the names of its <br />
contributors may be used to endorse or promote products derived from <br />
this software without specific prior written permission.  </li>
</ol>

<p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS <br />
IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED <br />
TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A <br />
PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT <br />
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, <br />
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED <br />
TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR <br />
PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF <br />
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING <br />
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS <br />
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.  </p>
